{
 "exec-opts": ["native.cgroupdriver=systemd"],
 "default-runtime": "nvidia",
  "runtimes": {
        "nvidia": {
            "args": [],
            "path": "nvidia-container-runtime"
        }
    },
 "log-driver": "json-file",
 "log-opts": {
            "max-file": "3",
            "max-size": "10m"
             },
 "data-root": "{{ data_root }}",
 "registry-mirrors": [
                "https://docker.hlmirror.com",
                "https://docker.1ms.run",
                "https://proxy.1panel.live",
                "https://docker.1ms.run",
                "https://docker.m.daocloud.io",
                "https://hub1.nat.tf",
                "https://hub2.nat.tf",
                "https://docker.ketches.cn"
        ],
 "insecure-registries": [
    {% for item in harbor_instances %}
    "{{ item.dns }}"{{ "," if not loop.last else "" }}
    {% endfor %}
 ],
 "live-restore": true
}

