[Unit]
Description=k8s lb
Documentation=man:nginx(8)

[Service]
LimitNOFILE=65535
Type=forking
ExecStartPre={{ nginx_sbin_dir }}/nginx -c {{ nginx_conf_dir }}/nginx.conf -p {{ nginx_conf_dir }} -e {{ nginx_logs_dir }}/error.log -t 
ExecStart={{ nginx_sbin_dir }}/nginx -c {{ nginx_conf_dir }}/nginx.conf -p {{ nginx_conf_dir }} -e {{ nginx_logs_dir }}/error.log
ExecReload={{ nginx_sbin_dir }}/nginx -c {{ nginx_conf_dir }}/nginx.conf -p {{ nginx_conf_dir }} -e {{ nginx_logs_dir }}/error.log -s reload
ExecStop={{ nginx_sbin_dir }}/nginx -c {{ nginx_conf_dir }}/nginx.conf -p {{ nginx_conf_dir }} -e {{ nginx_logs_dir }}/error.log -s quit
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target

