# 本文件由 playbook/gen-offline-versions.yaml 从 ansible 版本变量生成, 请勿手改。
# 供 offline/download-*-offline.sh source, 保证【离线下载】与【ansible 部署】版本完全一致。
# 单一源 = env.yaml(变参)/ defaults.yaml(派生), 改版本改那里, 跑生成器即刷新本文件。
K8S={{ k8s_version }}
CONTAINERD={{ containerd_version }}
RUNC={{ runc_version }}
ETCD={{ etcd_version }}
COREDNS={{ coredns_version }}
PAUSE={{ pause_image_version }}
CRICTL={{ crictl_version }}
CALICO={{ calico_version }}
FLANNEL={{ flannel_version }}
FLANNEL_CNI={{ flannel_cni_version }}
CILIUM={{ cilium_version }}
HELM={{ helm_version }}
NODELOCALDNS={{ nodelocaldns_version }}
MULTUS={{ multus_cni_version }}
DOCKER={{ docker_version }}
BUILDX={{ buildx_version }}
COMPOSE={{ compose_version }}
CRIDOCKERD={{ cri_dockerd_version }}
# 离线预取范围(prefetch-all.sh source 本文件后读取; 环境变量 ARCH=/DISTRO= 仍可临时覆盖)
ARCH={{ offline_arch }}
DISTROS="{{ (offline_distros | join(' ')) if (offline_distros is iterable and offline_distros is not string) else offline_distros }}"
